.vscode/**
.vscode-test/**
dist
out/**/!(extension.js)
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
examples/**